* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

/* login, signup */
#log-in-content,
#sign-up-content {
  margin: 40px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#log-in-content .log-in-body,
#sign-up-content .sign-up-body {
  margin-right: 300px;
}

#sign-up-content .sign-up-heading {
  margin-bottom: 40px;
  color: #12263f;
  text-align: center;
  font-weight: 550;
  font-size: 38px;
  letter-spacing: 2px;
}

#log-in-content .first-line #log-in-content .second-line,
#sign-up-content .second-line,
#sign-up-content .first-line {
  display: flex;
  margin-bottom: 30px;
}

/* #log-in-content .log-in-pass,
#log-in-content .log-in-email,
#sign-up-content .sign-up-pass,
#sign-up-content .sign-up-name,
#sign-up-content .sign-up-address {
  margin-right: 50px;
} */

.line {
  width: 170px;
}

input[type=text],
input[type=email],
input[type=password] {
  /* width: 100%; */
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 300px;
}

/* input[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
} */

#log-in-content label,
#sign-up-content label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

#log-in-content span,
#sign-up-content span {
  color: red;
  font-weight: bold;
}

#log-in-content p,
#sign-up-content p {
  /* margin-top: 12px; */
  color: #95aac9;

}

#log-in-content p a,
#sign-up-content p a {
  text-decoration: none;
  color: blue;
}

#log-in-content p a:hover,
#sign-up-content p a:hover {
  color: #6b5eae;
  cursor: pointer;
}

#log-in-content .log-in-email,
#log-in-content .log-in-pass {
  margin-bottom: 30px;
}

#log-in-content .log-in-heading {
  margin-bottom: 40px;
  color: #12263f;
  /* text-align: center; */
  font-weight: 550;
  font-size: 38px;
  letter-spacing: 2px;
}

#sign-up-content .btn-login,
#log-in-content .btn-login {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0 0 95px;
}

#log-in-content .btn-login:hover {
  background-color: #45a049;

}

#log-in-content .if-log {
  margin-top: 42px;
}

#sign-up-content .first-line {
  display: inline-block;
}

/* login, signup */

/* header/ */

#header {
  height: 84px;
  width: 100%;
  padding-top: 8px;
  border-bottom: 0.8px;
  border-bottom-color: #cce7ff;
  border-bottom-style: solid;
  text-decoration: none;
}

#header .nav {
  display: flex;
  align-items: center;
  margin: 0 0 0 260px;
}

#header .nav .list li {
  display: inline-block;
}

#header .nav .login li a,
#header .nav .list li a {
  text-decoration: none;
  color: #6e84a3;
  line-height: 44px;
  padding: 0 12px;
}

#header .nav .login li:hover a,
#header .nav .list li:hover a {
  color: #000;
}

#header .header-film {
  color: #6e84a3;
}

#header .header-film:hover {
  color: #000;
  cursor: pointer;
}

#header .nav .list .film {
  position: relative;
  /* pointer-events: none; */
}

#header .nav .list .sub-list-film {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  margin-top: 15px;
}

/* #header .nav .sub-list-film a {} */

/* #header .nav .film:hover .sub-list-film {
  display: inline-block;
  color: #6e84a3;
} */

#header .logo {
  display: block;
  width: 84px;
  margin: 0 60px 0 20px;
}

#header .logo .img-logo {
  width: 120%;
  cursor: pointer;
}

#header .search {
  margin-right: 10px;
}

#header .input-search {
  border-radius: 10px;
  border: 1px solid #6e84a3;
  font-size: 24px;
  height: 100%;
  padding-left: 10px;

}

#header .map {
  font-size: 120%;
  margin: 0 12px;
  cursor: pointer;
}

#header .map a {
  text-decoration: none;
  color: #6e84a3;
  line-height: 44px;
  padding: 0 12px;
  font-size: 16px;
}

#header .map a:hover {
  color: #000;
}

#header .login li {
  display: inline-block;
}

#header .helloUser {
  text-decoration: none;
  color: #6e84a3;
  line-height: 44px;
  padding: 0 12px;
  font-size: 16px;
}

.text-home {
  height: 720px;
  letter-spacing: 2px;
  font-size: 50px;
  color: #95aac9;
  padding-left: 110px;
  padding-top: 150px;
  background-image: url('../imgs/background/film-background-vector-86883.jpg');
}

.text-home img {
  width: 150px;
}

.home-signup,
.home-login {
  font-size: 20px;
  padding-left: 100px;
  margin-top: 70px;
}

.home-signup a,
.home-login a {
  cursor: pointer;
  border: #4CAF50 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration-line: none;
}

/* header */

/* content  */

#content .heading-content {
  margin-top: 12px;
  border-top: 0.8px;
  border-top-color: #cce7ff;
  /*border-top-style: solid;*/
  padding-top: 24px;
}

/* #content .container {
  padding: 0 12px; 
  margin: 0 65px;
} */

/*text heading*/

#content .text-center {
  text-align: center;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
}

#content .text-center a {
  text-decoration: none;
  margin: 0 24px;
  color: #6e84a3;
}

/*card*/

#content .swiper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content .swiper .card {
  background-color: #fff;
  height: 260px;
  position: relative;
  width: 20%;
  /* background-color: #FFEBCD; */

}

#content .swiper .first-card {
  margin-left: 70px;
  margin-bottom: 50px;
}

#content .swiper .card .image {
  width: 140px;
  height: 200px;
  display: flex;
  position: relative;
}

#content .swiper .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

#content .swiper .bottom-img {
  background-color: #d31602;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10%;
}

#content .swiper .card-body {
  padding: 8px;
  position: absolute;
  background-color: #fff;
  text-align: center;
  border-color: #d31602;
  border-style: solid;
  border-top: 0;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom: 2.5px solid #d31602;
  width: 140px;
}

#content .swiper .card-body a {
  font-size: 14px;
  text-decoration: none;
  margin: 6px;
  font-weight: 600;
}

#content .swiper .card-body a:hover {
  color: #1657af;
}

#content .swiper .detail-card {
  display: flex;
  justify-content: center;
  margin: 6px;
}

#content .swiper .detail-card .time-card {
  color: #6e84a3;
  font-size: 14px;
  margin-top: 2px;
}

#content .swiper .detail-card .like-card a {
  color: #00d97e;
  margin-left: 20px;
}

#content .swiper .detail-card .like-card a:hover {
  color: #228B22;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #333;
}

.swiper-scrollbar {
  opacity: 0;
}

/*card*/

/*review*/

#content .review-content {
  margin-top: 50px;
  width: 100%;
  border-top: 0.8px;
  border-top-color: #cce7ff;
  border-top-style: solid;
  border-bottom: 0.8px;
  border-bottom-color: #cce7ff;
  border-bottom-style: solid;
  margin-bottom: 36px;
}

#content .review {
  margin-top: 46px;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px;
}

/* #content .review-content .img-review-content {} */

#content .review-content .text-review-content {
  margin-top: 14px;
}

#content .review-content .big-text-review-content {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  opacity: 0.7;
}

#content .review-content .small-text-review-content {
  display: flex;
  margin-top: 12px;
  text-align: center;
  justify-content: center;
}

#content .review-content .small-text-review-content a {
  text-decoration: none;
  color: red;
  margin-right: 5px;
  font-size: 16px;
}

#content .small-text-review-content .time-review-content {
  color: #6e84a3;
}

#content .review-content .subtitle-content-review {
  font-size: 16px;
  margin-top: 12px;
  color: #6e84a3;
}

/*review*/

/*event*/

#content .event-content {
  margin-bottom: 50px;
  text-align: center;
}

#content .text-event {
  font-weight: 500;
  font-size: 40px;
  color: #6e84a3;
  letter-spacing: 3px;
}

#content .sub-text-event {
  margin-top: 14px;
  font-size: 16px;
  color: #6e84a3;
  letter-spacing: 2px;
}

#content .inf-event-content {
  margin-top: 20px;
}

#content .inf-event-content .image-event {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

#content .inf-event-content li {
  margin: 0 40px;
}

#content .inf-event-content img {
  height: 208px;
  /* margin:0 40px; */
}

#content .inf-event-content p {
  color: #95aac9;
  font-size: 20px;
  font-weight: 540;
}

/*event*/

/* content  */

/* footer */

#footer {
  background-color: #e3ebf6;
  height: 172px;
  padding: 12px 0;
  margin-bottom: 0;
  bottom: 0;
}

#footer .wraper {
  height: 148px;
  display: flex;
  align-items: center;
}

#footer .wraper .logo {
  margin-left: 50px;
}

#footer .logo .img-logo {
  width: 50%;
}

#footer .inf {
  margin-right: 10px;
  height: 98px;
  width: 451px;
}

#footer .inf .text-inf {
  font-size: 80%;
  color: #95aac9;
  text-align: justify;
  line-height: 1.6;
}

#footer .inf .text-inf-heading {
  font-size: 80%;
  color: #95aac9;
}

#footer .partner {
  display: flex;
  align-items: center;
  height: 148px;
  margin-right: 100px;
}

#footer .partner .a-partner {
  margin: 30px;
  color: #95aac9;
  font-size: 16px;
}

#footer .partner .b-partner {
  display: flex;
}

#footer .partner .b-partner li {
  display: inline-block;
}

#footer .partner .b-partner li img {
  width: 100%;
  border-radius: 100%;
  height: 100px;
  padding: 12px;
}

#footer .policy .-policy li {
  list-style-type: none;
}

#footer .policy .-policy li a {
  text-decoration: none;
  color: #95aac9;
  line-height: 1.6;
  font-size: 16px;
}

/* footer */

/* inf-film */

#inf-film-content .inf-film {
  height: 280px;
  background-color: #12263f;
  padding: 16px;
  display: flex;
}

#inf-film-content .inf-film img {
  height: 241px;
  border-radius: 4px;
  border: #fff solid 1px;
  margin-right: 20px;
  margin-left: 200px;
}

#inf-film-content .detail-inf-film {
  color: white;
  width: 530px;
  margin-right: 20px;
}

#inf-film-content .detail-inf-film .name-film {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

#inf-film-content .detail-inf-film .sub-name-film {
  font-size: 12px;
  color: #95aac9;
  letter-spacing: 1px;
  margin-bottom: 15px;
}


#inf-film-content .detail-inf-film .op-film {
  display: flex;
  margin-bottom: 15px;
  font-size: 13px;
  /* letter-spacing: 1px; */
}

#inf-film-content .detail-inf-film .op-film .-trailer {
  height: 28px;
  width: 52px;
  border: #fff 1px solid;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  margin-right: 6px;
}

#inf-film-content .detail-inf-film .op-film .-trailer:hover {
  background-color: #edf2f9;
  color: #000;
  cursor: pointer;
}


#inf-film-content .detail-inf-film .op-film .buy-ticket {
  height: 28px;
  width: 60px;
  border-radius: 4px;
  text-align: center;
  padding: 6px;
  background-color: #e63757;
}

#inf-film-content .detail-inf-film .op-film .buy-ticket:hover {
  background-color: #db1b3f;
  cursor: pointer;
}

#inf-film-content .detail-inf-film .explain-film {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  line-height: 1.6;
}

#inf-film-content .detail-inf-film .extra-explain-film {
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
}

#inf-film-content .detail-inf-film .extra-explain-film .ex {
  margin-right: 80px;
}

#inf-film-content .detail-inf-film .extra-explain-film .content-ex {
  margin-top: 6px;
}

#inf-film-content .crew {
  font-size: 14px;
  color: #fff;
  margin-top: 64px;
  letter-spacing: 1px;
  margin-right: 200px;
  line-height: 1.6;
}

#inf-film-content .crew .detail {
  color: #e63757;
  margin: 10px 0;
}

/* inf-film */